body { font: 13px Helvetica, Arial, Verdana; }

.container {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

header { text-align: right; }

.sidebar {
	float: left;
	margin-right: 1%;
	width: 35%;
}

.content {
	width: 64%;
	margin: 0 0 0 360px;
}

.content:after {
	content: "";
	display: block;
	clear: both;
}

.button {
	text-align: center;
	padding: 5px 9px;
	font-family: sans-serif;
	transform-style: none;
	border-radius: 10px;
	border: 1px solid #97c645;
}

.login, .reg, .public { background: #90bc36; }

.quit { background: white; }

a { text-decoration: none; }

a.login, a.reg, a.public { color: white; }

a.quit { color: #90bc36; }

.sidebar ul {
	text-transform: uppercase;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.sidebar ul li {
	padding: 8px;
    	border-bottom: 1px solid #949596;
}

.sidebar ul li a { color: #949596; }

.sidebar ul > li:first-child {
	background: #90bc36;
	color: white;
}

.sidebar ul > li:first-child a { color: white; }

h1 {
	color: #90bc36;
	margin: 0;
	padding-bottom: 7px;
	border-bottom: 1.5px solid #d5d0d0;
    	box-shadow: 0 0.3px #ddd8d8;
    	text-shadow: 0.5px 0.5px #c2f481;
}

textarea {
	font-size: 12px;
	height: 80px;
	width: 95.5%;
	border-radius: 12px;
	margin-bottom: 10px;
	padding: 2%;
	resize: vertical;
}

#style-elem { font-style: italic; }

#superscript {
	font-size: 11px;
	vertical-align: super;
}

#title { 
	color: #0099ff;
	margin-top: -5px;
}

#comment {
	border-bottom: 1.5px solid #d5d0d0;
 	box-shadow: 0 0.5px #ddd8d8;
   	padding-bottom: 15px;
}

#date {
	color: black;
	font-size: 10px;
	padding-left: 5px;	
}